header {
    position: relative;
    margin-bottom: 132px;

    img {
        height: 80px;
    }
    nav li {
        a {
            text-decoration: none;
            color: #fff;
            font-family: "amiko";
            transition: all 100ms ease-out;
            &:hover {
                font-weight: bold;
            }
        }
    }
    .input {
        display: flex;
        align-items: center;
        position: relative;
        span {
            margin-right: 8px;
            position: absolute;
            color: #fff;
            right: 0;
        }
    }

    input {
        border: 2px solid white;
        border-radius: 22px;
        background: transparent;
        padding: 16px 8px;
        height: 24px;
        color: white;
        &::placeholder {
            color: #fff;
            font-size: 16px;
        }
    }
}
