.landing-hero {
 
    position: relative;
    color: white;

    .hero {
        h1 {
            font-size: 64px;
            font-weight: 300;
            font-family: "Open Sans";
        }
        h2 {
            font-size: 56px;
            font-family: "amiko";
            font-weight: 700;
        }
        p {
            font-size: 24px;
            width: 490px;
            margin-top: 16px;
            margin-bottom: 50px;
        }
    }
    .footer {
        margin-top: 64px;
        align-items: center;
        justify-content: center;
        justify-items: center;
        display: flex;
        flex-direction: row;
        .card {
            display: flex;
            align-items: center;
            justify-items: center;
            margin-left: 64px;
            p {
                font-size: 24px;
                font-weight: 600;
            }
            &:first-child {
                margin: 0;
            }
        }
        .plus,
        .plus2,
        .plus3 {
            padding: 0;
            height: 90px;
            width: 90px;

            text-align: center;

            margin: auto;
        }
    }
}
