* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100vh;
    font-family: "Amiko", sans-serif;
    font-family: "Open Sans", sans-serif;
    max-width: 980px;
    margin: 0 auto;
}
