* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Amiko", sans-serif;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
 img{
     height: 850px;
 }
}
.container{
    width: 980px;
    margin: 0 auto;
}

@media (max-width:1280px){
    body {
     img{
         height: 800px;
     }
    }
}