* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Amiko", sans-serif;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
body img {
  height: 850px;
}

.container {
  width: 980px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  body img {
    height: 800px;
  }
}
.button-green {
  background-image: linear-gradient(to right, #56ab2f 0%, #a8e063 51%, #56ab2f 100%);
  border-radius: 24px;
  padding: 15px 45px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 20px #b6b6b6;
  display: block;
  transition: 0.5s;
  background-size: 200% auto;
}
.button-green:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.title {
  font-weight: bold;
  font-family: "amiko";
  color: #08025B;
  font-size: 48px;
}

.sub-text-hero {
  font-size: 22px;
}

.service-text {
  color: #040404;
  font-family: "amiko";
  font-size: 18px;
}

.service-text-info {
  color: #6C6C6C;
  font-size: 16px;
}

.footer-text {
  margin-bottom: 8px;
  color: #eee;
  font-family: "amiko";
  font-size: 18px;
  font-weight: 600;
}

header {
  position: relative;
  margin-bottom: 132px;
}
header img {
  height: 80px;
}
header nav li a {
  text-decoration: none;
  color: #fff;
  font-family: "amiko";
  transition: all 100ms ease-out;
}
header nav li a:hover {
  font-weight: bold;
}
header .input {
  display: flex;
  align-items: center;
  position: relative;
}
header .input span {
  margin-right: 8px;
  position: absolute;
  color: #fff;
  right: 0;
}
header input {
  border: 2px solid white;
  border-radius: 22px;
  background: transparent;
  padding: 16px 8px;
  height: 24px;
  color: white;
}
header input::-moz-placeholder {
  color: #fff;
  font-size: 16px;
}
header input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
}
header input::placeholder {
  color: #fff;
  font-size: 16px;
}

.landing-hero {
  position: relative;
  color: white;
}
.landing-hero .hero h1 {
  font-size: 64px;
  font-weight: 300;
  font-family: "Open Sans";
}
.landing-hero .hero h2 {
  font-size: 56px;
  font-family: "amiko";
  font-weight: 700;
}
.landing-hero .hero p {
  font-size: 24px;
  width: 490px;
  margin-top: 16px;
  margin-bottom: 50px;
}
.landing-hero .footer {
  margin-top: 64px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
}
.landing-hero .footer .card {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 64px;
}
.landing-hero .footer .card p {
  font-size: 24px;
  font-weight: 600;
}
.landing-hero .footer .card:first-child {
  margin: 0;
}
.landing-hero .footer .plus,
.landing-hero .footer .plus2,
.landing-hero .footer .plus3 {
  padding: 0;
  height: 90px;
  width: 90px;
  text-align: center;
  margin: auto;
}

.about {
  margin-top: 68px;
}
.about .about-hero img {
  margin-top: 68px;
  height: 600px;
}

.services {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 300px);
  gap: 32px;
  margin-top: 24px;
}
.services .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.work .work-hero img {
  width: 500px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
}
.work .work-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.work .work-stats .card {
  margin-top: 16px;
  display: grid;
  grid-template-rows: 1fr 50px 50px;
}
.work .work-stats img {
  height: 50px;
  width: 50px;
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 80px;
}
.blog .card {
  margin-top: 16px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blog .card img {
  border-radius: 30px;
  width: 300px;
  height: 500px;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}
.blog .card .card-info {
  width: 300px;
  height: 80px;
  border-radius: 0 0 30px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  background-color: #b9b9b9;
}

.form {
  position: relative;
  display: flex;
  height: 300px;
  background: #3a3937;
  margin-bottom: 48px;
  padding-bottom: 8px;
}
.form .form-content {
  margin: 0 auto;
}
.form .form-content .inputs {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.form .form-content .inputs input,
.form .form-content .inputs textarea {
  border: 2px solid white;
  border-radius: 8px;
}
.form .form-content .inputs textarea {
  width: 50%;
  height: 50%;
  resize: horizontal;
}
.form .form-content .inputs button {
  padding: 8px 16px;
  color: #fff;
  font-weight: 400;
  border: 2px solid white;
  border-radius: 8px;
  width: 50%;
}
.form .form-content img {
  position: absolute;
  top: -50px;
  right: 86px;
  height: 350px;
}
.form .form-header {
  margin-top: 32px;
}
.form .form-header h2 {
  color: white;
  font-size: 28px;
}
.form .form-header h1 {
  font-size: 32px;
  font-weight: 600;
  font-family: "amiko";
  color: #fff;
}

footer {
  padding: 32px;
  background: #4e4e4e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .coopy p {
  font-size: 16px;
  color: #eee;
}
footer .footer-text {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 32px;
}
footer .footer-text .links {
  list-style-type: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: lighter;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  align-items: center;
}
footer .footer-text .links .services-links,
footer .footer-text .links li {
  font-weight: 300;
  font-family: "Open Sans";
}
footer span {
  color: #eee;
  margin-top: 16px;
}/*# sourceMappingURL=main.css.map */